@import 'variables';

// Header Styles
header {
  width: inherit;
  clear: both;
  text-align: center;
  padding-top: 40px;
}

header img {
    @include responsiveImage;
  }
  

header h1 {
  color: $primary-color;
  font-weight: 100;
  font-size: 4em;
  line-height: 0;
}

header h2 {
  color: $secondary-color;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 0;
  margin-bottom: 70px;
}

header h3 {
  color: $tertiary-color;
  font-weight: 400;
  font-size: 2em;
  line-height: 0;
  margin-bottom: 50px;
}
