@import 'variables';

// Navigation Styles
figure {
  width: 400px;
  height: 190px;
  background: url($logo-path) no-repeat 0 50px;
  float: left;
  display: block;
  margin: 0;
}

nav {
  width: 540px;
  height: 190px;
  float: left;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin-top: 95px;
}

nav ul li {
    @include navItem(0.8em, 10px);
  }
  

nav ul li a {
  color: $primary-color;
  text-decoration: none;
  letter-spacing: -0.01em;
}

nav ul li a:hover {
  color: $secondary-color;
}
