// Color Variables
$primary-color: #E65C43;
$secondary-color: #FFF;
$grey-color: #666;
$dark-grey-color: #30353D;
$light-grey-color: #F5F6F6;
$headline-bg-color: #F25C43;

// Image Path Variables
$logo-path: '../images/logo.png';
$bg-path: '../images/bg.gif';
$social-media-path: '../images/social-media.png';

// Font Variables
$font-family-primary: 'Roboto', sans-serif;
$font-size-base: 1em;
$line-height-base: 2em;

// Define custom font sizes
$header-h1-font-size: 4em;
$header-h2-font-size: 2.5em;
$header-h3-font-size: 2em;
$nav-font-size: 0.8em;
